SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/app_db
SPRING_DATASOURCE_USERNAME=example_user
SPRING_DATASOURCE_PASSWORD=example_password

JWT_SECRET=change_me

OPENBAO_ADDR=http://openbao:8200
OPENBAO_TOKEN=example_token

SONAR_HOST_URL=http://sonarqube:9000
SONAR_TOKEN=example_token

SNYK_TOKEN=example_token
GITLAB_API_TOKEN=example_token
JIRA_API_TOKEN=example_token
DEFECTDOJO_TOKEN=example_token